<div class="project-container">
    <div class="left-container">
        <h3 class="red-text">Student Assistant Portal</h3>
        <h4>Full-Stack at Worcester Polytechnic Institute</h4>
        
        <p>
            A website for WPI instructors and students, 
            simplifying the process of registering for 
            Student Assistant positions and tracking application.
        </p>
        <ul>
            <li>
                <b>Technologies used:</b> HTML/CSS, Microsoft Azure, 
                AWS, Docker, Bootstrap, Flask, Selenium Webdriver, PyTest
            </li>
        </ul>
        </br>
        <a href="https://www.youtube.com/watch?v=QM9rUlFLYIs" target="_blank" class="download-button">
            View Demo
        </a>
    </div>
    </br>
    </br>
    <div class="right-container">
        <div class="project-imagebox">
            <img class="project-web" src="static/p2/Front.PNG"/>
        </div>
    </div>
</div>
