<div class="project-container">
    <div class="left-container">
        <h3 class="red-text">Explore Your Rivers App</h3>
        <h4>Full-Stack at Massachusetts Rivers Alliance</h4>
        <div class="skill-container">
            <div class="skillbox">
                Expo-React Native
            </div>
            <div class="skillbox">
                Supabase
            </div>
            <div class="skillbox">
                PostgreSQL
            </div>
            <div class="skillbox">
                Figma
            </div>
        </div>
        <p>
            A cross-platform mobile app that promotes 
            recreational activities around Massachusetts 
            and spreads awareness on local environmental issues.
        </p>

        </br>
        <a href="https://digital.wpi.edu/show/hx11xk70g" target="_blank" class="download-button">
            View Research Paper
        </a>
    </div>
    </br>
    </br>
    <div class="right-container">
        <div class="project-imagebox">
            <div style="display: flex; justify-content: space-between">
                <img class="project-phone" src="static/p1/Front.PNG"/>
                <video class="project-phone" autoplay muted loop>
                    <source src="static/p1/Demo 1.MP4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <video class="project-phone" autoplay muted loop>
                    <source src="static/p1/Demo 2.MP4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>