<div class="project-container">
    <div class="left-container">
        <h3 class="red-text">DoodleDetective: AI-Powered Mobile Game</h3>
        <h4>Full-Stack at Worcester Polytechnic Institute</h4>
        <div class="skill-container">
            <div class="skillbox">
                Kotlin
            </div>
            <div class="skillbox">
                Pytorch
            </div>
            <div class="skillbox">
                Py
            </div>
            <div class="skillbox">
                Flask
            </div>
        </div>
        <p>
            A fast-paced Kotlin mobile game that utilizes a HuggingFace Sketch 
            Recognition model to evaluate user drawings across 100 categories in real time.
        </p>

        </br>
        <a href="https://github.com/dhoangquan1/DoodleDetective" target="_blank" class="download-button">
            View Github
        </a>
    </div>
    </br>
    </br>
    <div class="right-container">
        <div class="project-imagebox">
            <div style="display: flex; justify-content: space-between">
                <img class="project-phone" autoplay muted loop src="static/p3/demo1.gif"/>
                <img class="project-phone" autoplay muted loop src="static/p3/demo2.gif"/>
                <img class="project-phone" autoplay muted loop src="static/p3/demo3.gif"/>
            </div>
        </div>
    </div>
</div>