<div class="project-container">
    <div class="left-container">
        <h3 class="red-text">ProjectForce</h3>
        <h4>Full-Stack at 7Factor</h4>
        <div class="skill-container">
            <div class="skillbox">
                React
            </div>
            <div class="skillbox">
                Node.js
            </div>
            <div class="skillbox">
                ASP.NET
            </div>
            <div class="skillbox">
                Docker
            </div>
            <div class="skillbox">
                Microsoft Azure
            </div>
            <div class="skillbox">
                Vitest
            </div>
            <div class="skillbox">
                Figma
            </div>
            <div class="skillbox">
                SQLite
            </div>
        </div>
        <p>
            A staffing tool for 7Factor, implementing core functionalities 
            to simplify real-time management of distributed engineering teams.
        </p>
    
        </br>
        <a href="" target="_blank" class="download-button">
            [Private Repo]
        </a>
    </div>
    </br>
    </br>
    <div class="right-container">
        <div class="project-imagebox">
            <img class="project-web" src="static/p5/projectforce.PNG"/>
        </div>
    </div>
</div>
