<div class="project-container">
    <div class="left-container">
        <h3 class="red-text">Home Insecurity Prediction Model</h3>
        <h4>ML Engineer at Worcester Polytechnic Institute</h4>
        <div class="skill-container">
            <div class="skillbox">
                Pandas
            </div>
            <div class="skillbox">
                Numpy
            </div>
            <div class="skillbox">
                Matplotlib
            </div>
            <div class="skillbox">
                ScikitLearn
            </div>
        </div>
        <p>
            A supervised regression to probabilistic classification model to explore 
            the relationship between Home Improvement factors and Housing Insecurity.
        </p>
    
        </br>
        <a href="https://github.com/dhoangquan1/HomeInsecurityPredict" target="_blank" class="download-button">
            View Github
        </a>
    </div>
    </br>
    </br>
    <div class="right-container">
        <div class="project-imagebox">
            <img class="project-web" src="static/p4/graph.png"/>
        </div>
    </div>
</div>
