{% block content %}

    <div class="contact-container">
        <p class="red-text"> <b>Quan Dinh</b> </p>
        <p> dhoangquan1@gmail.com</p>
        <p> (508) 615-8965 </p>
        <div class="contact-social-container">
            <a href="https://github.com/dhoangquan1" target="_blank">
                <img class="social-logo" src="static/symbols/github.png">
            </a>
            <a href="https://www.linkedin.com/in/quan-dinh-baa666263/" target="_blank">
                <img class="social-logo" src="static/symbols/linkedin.png">
            </a>
        </div>
        <p class="credit-link"> Free B Roll by <a href="http://www.videezy.com/">Videezy.com</a> </p>
    </div>

{% endblock %}