{% block content %}
    <h2><u>Education</u></h2>
    <div class="edu-container">
        <div>
            <image class="edu-logo" src="static/wpi.png">
        </div>
        <div>
            <p class="edu-title"><b>Bachelor of Computer Science</b></p>
            <p class="edu-text">Worcester Polytechnic Institute - Expected 2026</p>
            <p class="edu-text"><b>GPA: 3.93</b></p>
            <p class="edu-text"><b>Awards:</b></p>
            <ul>
                <li>Charles O. Thompson Scholar (Fall-Spring 2022)</li>
                <li>Dean’s List, WPI (Fall 2022)</li>
                <li>Dean’s List, WPI (Fall-Spring 2023)</li>
                <li>Dean’s List, WPI (Fall 2024)</li>
            </ul>
            <br>
            <a href="static/Transcript.pdf" download="Transcript.pdf" class="download-button">
                Download my transcript
            </a>
        </div>
    </div>

{% endblock %}