{% extends "base.html" %}

{% block content %}
<div>
    <div >
        <section id="section1">
            {% include "about.html" %}
        </section>
        <hr style="width:60%; margin-bottom: 30px; margin-top: 30px; background-color: transparent;">
        <section id="section2">
            {% include "project.html" %}
        </section>
        <hr style="width:60%; margin-bottom: 30px; margin-top: 30px; background-color: transparent;">
        <section id="section3">
            {% include "education.html" %}
        </section>
        <hr style="width:60%; margin-bottom: 30px; margin-top: 30px; background-color: transparent;">
        <section id="section4">
            {% include "skill.html" %}
        </section>
        <section id="section5">
            {% include "contact.html" %}
        </section>
    </div>
    
    
</div>
{% endblock %}