{% block content %}
    <h2><u>Projects</u></h2>

    <div class="project-container">
        <div class="left-container">
            <h3 class="red-text">Explore Your Rivers App</h3>
            <h4>Full-Stack at Massachusetts Rivers Alliance</h4>
            <p>
                Developed a cross-platform mobile app using Expo 
                that promotes recreational activities around Massachusetts 
                and spreads awareness on local environmental issues.
            </p>
            <ul>
                <li>
                    Mentored and trained 3 teammates on React Native language 
                    and Supabase technology to foster a learning environment 
                    and enhance team collaboration.
                </li>
                <li>
                    Designed custom UI prototypes in Figma that align with 
                    the sponsors’ expectations
                </li>
                <li>
                    Utilized PostgreSQL with PostGIS extensions to manage 
                    geospatial data, enabling precise calculation of user-to-location 
                    distances.
                </li>
            </ul>
            </br>
            <a href="https://digital.wpi.edu/show/hx11xk70g" target="_blank" class="download-button">
                View Research Paper
            </a>
        </div>
        <div class="right-container">
            <div style="display: flex; justify-content: space-between">
                <img class="project-phone" src="static/p1/Front.PNG"/>
                <video class="project-phone" autoplay muted loop>
                    <source src="static/p1/Demo 1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <video class="project-phone" autoplay muted loop>
                    <source src="static/p1/Demo 2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
{% endblock %}