{% block content %}
    <h2><u>Skills</u></h2>

    <h3>Languages</h3>
    <div class="skill-container">
        <div class="skill-flexbox">
            <img src="static/skill/java.png" class="skill-logo">
            <p>Java</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/python.png" class="skill-logo">
            <p>Python</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/javascript.png" class="skill-logo">
            <p>Javascript</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/c++.png" class="skill-logo">
            <p>C/C++</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/html.png" class="skill-logo">
            <p>HTML/CSS</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/sql.png" class="skill-logo">
            <p>SQL</p>
        </div>
    </div>

    </br>

    <h3>Framework/Libraries</h3>
    <div class="skill-container">
        <div class="skill-flexbox">
            <img src="static/skill/rn.png" class="skill-logo">
            <p>React</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/rn.png" class="skill-logo">
            <p>React Native</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/expo.png" class="skill-logo">
            <p>Expo</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/flask.png" class="skill-logo">
            <p>Flask</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/SQLA.png" class="skill-logo">
            <p>SQLAlchemy</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/asp.png" class="skill-logo">
            <p>ASP.NET</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/docker.png" class="skill-logo">
            <p>Docker</p>
        </div>
    </div>

    </br>
    <h3>Database</h3>
    <div class="skill-container">
        <div class="skill-flexbox">
            <img src="static/skill/postgres.png" class="skill-logo">
            <p>PostgreSQL</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/sqlite.png" class="skill-logo">
            <p>SQLite</p>
        </div>
    </div>

    </br>
    <h3>Technologies</h3>
    <div class="skill-container">
        <div class="skill-flexbox">
            <img src="static/skill/git.png" class="skill-logo">
            <p>Git</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/datagrip.png" class="skill-logo">
            <p>Datagrip</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/supabase.jpg" class="skill-logo">
            <p>Supabse</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/figma.png" class="skill-logo">
            <p>Figma</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/AWS.png" class="skill-logo">
            <p>AWS</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/azure.png" class="skill-logo">
            <p>Microsoft Azure</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/selenium.png" class="skill-logo">
            <p>Selenium Webdriver</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/pytest.png" class="skill-logo">
            <p>PyTest</p>
        </div>
        <div class="skill-flexbox">
            <img src="static/skill/vitest.png" class="skill-logo">
            <p>Vitest</p>
        </div>
    </div>

{% endblock %}